.button{
    border-radius: 25px;
    background-color: var(--accent-color);
    padding: 16px 32px;
}

@media screen and (max-width: 500px) {
    .button{
        padding: 8px 16px;
    }
}

.button:hover{
    background-color: oklch(from var(--accent-color) calc(l * 0.95) c h);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}