footer{
    width: 100%;
    color: #FFFFFF;
    background-color: var(--primary-color);
    font-weight: 500;

    display: flex;
    align-items: center;
    padding: 64px clamp(8px, calc(5vw + 8px), 128px);
}

/* Titles */
.footer-title{
    font: var(--h3);
}

/* Contacts */
.contacts{
    display: grid;
    justify-content: right;
    margin-left: auto;
}

.links{
    padding-left: 8px;
}

.contact_link{
    font: var(--anchor-txt);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4px;
    margin-top: 4px;
}

/* Footer Brand */
.footer-brand{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
}

.footer-logo{
    aspect-ratio: 1 / 1;
    width: 30%;   
}

/* For Smaller Devices */
@media screen and (max-width: 800px) {
    footer{
        flex-direction: column;
    }
    .contacts{
        margin-right: auto;
        margin-left: 0;
        padding: 16px;
    }
}