.navbar{
    width: 100%;
    height: 88px;
    background-color: var(--primary-dark);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 8px 64px;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
}

a{
    color: #FFFFFF;
}

.navbar-home{
    display:flex;
    align-items: center;
    gap: 16px;
    font-family: "Syncopate", Helvetica, sans-serif;
    font-size: 1.75rem;
    margin-right: auto;
}

.navbar-logo{
    width: 56px;
    aspect-ratio: 1 / 1;
}

/* Animation */
.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  pointer-events: auto;
}