.objectiveCard{
    background-color: var(--bg-dark-3);
    border-radius: 32px;
    box-shadow: var(--shadow-sm);
}

.objectiveImg{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 32px 32px 0 0;
}

.objectiveText{
    padding: 8px 36px 24px 36px;
}

.objectiveTitle{
    margin: 8px 0;
}