/* Section */
.about{
    /* width: 90vw;
    
    border-radius: 32px;
    box-shadow: var(--shadow-l); */
    width: 100%;
    justify-self: center;
    background-color: var(-bg-dark-2);
    padding: 32px clamp(8px, calc(5vw + 8px), 128px) 64px;
    margin: 64px;
}

/* Internal Flexbox */
.aboutGrid{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Title */
.about-title{
    margin-bottom: 16px;
}

/* Image Section */
.imageSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-photo{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 25px;
}

/* Description */
.about-description{
    padding: 0 32px 32px 32px;
}

/* Sub Title */
.about-sub-title{
    margin: 8px 0 4px;
}

@media screen and (max-width: 1000px) {
    .aboutGrid{
        flex-direction: column;
    }

    .about-photo{
        width: 50%;
    }

    .about-description{
        margin-top: 8px;
    }

    .about-title{
        margin-bottom: 8px;
    }
}
