.activities{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 64px 0;
    padding: 0 clamp(64px, calc(2vw + 64px), 180px);
}