.home{
    min-height: 100dvh;
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    gap: 8px;
} 

.home-logo{
    width: 30vw;
    aspect-ratio: 1 / 1;
}