.objectiveCards{
    width: 100vw;
    display: flex;
    flex: 1 1 auto;
    
    align-items: stretch;
    justify-content: center;

    gap: 32px;
    padding: 32px;
}

/* Title */
.objectivesHeading{
    margin-top: 32px;
}

@media screen and (max-width: 900px) {
    .objectiveCards{
        flex-direction: column;
        padding: 32px clamp(8px, calc(10vw + 8px), 128px);
    }
}