.objectives{
    width: 90vw;
    background-color: var(--bg-color-light-1);
    justify-self: center;
    margin: 32px 0;
    border-radius: 32px;
    box-shadow: var(--shadow-l);
}

.objectiveCards{
    display: flex;
    flex: 1 1 auto;
    
    align-items: stretch;
    justify-content: center;

    gap: 32px;
    padding: 32px clamp(8px, calc(5vw + 8px), 128px);
}

/* Title */
.objectivesHeading{
    margin-top: 32px;
}

@media screen and (max-width: 900px) {
    .objectiveCards{
        flex-direction: column;
    }
}