.objectives{
    background-color: var(--primary-dark);
    justify-self: center;
    padding: var(--section-padding);
}

/* Title */
.objectivesHeading{
    margin: 32px 0;
    color: white;
}

.objectiveCards{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
}

@media screen and (max-width: 900px) {
    .objectiveCards{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}