/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Syncopate:wght@400;700&display=swap');

*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --primary-color: #5315D1;
    --primary-dark: #4A13B9;
    --secondary-color: #001E6B;
    --bg-color: #E5E5E5;
    --bg-color-light-1: #F2F2F2; 
    --bg-color-light-2: #FFFFFF; 
    --accent-color: #FFC044;
    --text-color: #000000;
}

/* Headers/Text */
h1{
    font-size: 6rem;
    font-family: "Syncopate", Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h2{
    font-size: 5rem;
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

h3{
    font-size: 3rem;
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h4{
    font-size: 2rem;
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

p, a{
    font-size: 1.5rem;
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.small{
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
}

a:hover{
    text-decoration: underline;
    cursor:pointer;
}

a:visited{
    text-decoration: none;
}

.app{
    display: grid;
    background-color: var(--bg-color);
}