/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Syncopate:wght@400;700&display=swap');

*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --primary-color: #5315D1;
    --primary-dark: #5013C9;
    --bg-dark-1: #F2F2F2;
    --bg-dark-2: #F7F7F7;
    --bg-dark-3: #FFFFFF;
    --accent-color: #FFBE3E;
    --accent-dark: #F3A916;
    --text-dark-1: #080808;
    --text-dark-1: #0D0D0D;
    --text-dark-1: #1A1A1A;
    --shadow-sm: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
    --section-padding: 64px clamp(16px, calc(8vw + 8px), 176px);
}

/* Headers/Text */
h1{
    font-size: clamp(1.5rem, calc(5vw + 0.75rem), 6rem);
    font-family: "Syncopate", Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h2{
    font-size: clamp(1rem, calc(5vw + 1rem),5rem);
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

h3{
    font-size: clamp(0.75rem, calc(2vw + 0.75rem), 3rem);
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h4{
    font-size: clamp(0.5rem, calc(2vw + 0.5rem), 2rem);
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

p, a{
    font-size: clamp(0.25rem, calc(2vw + 0.25rem), 1.5rem);
    font-family: "Funnel Display", Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.small{
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
}

a:hover{
    text-decoration: underline;
    cursor:pointer;
}

a:visited{
    text-decoration: none;
}

.app{
    display: grid;
    background-color: var(--bg-dark-1);
}